ul,li{list-style:none;}
a{color:#2489CE;text-decoration:none;}
a:hover{color:#2489CE;text-decoration:underline;}

td, th {
	padding: 10px;
	border-bottom: 1px solid #efefef;
	vertical-align: middle;
}

.body-linessplit td {
	vertical-align: middle;
}

th {
	background: #F6F6F6;
	color: #333333;
	text-align: left;
	text-shadow: 0 1px 0 #F6F6F6;
}

th:hover {
	background: #f6f5f3;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
	cursor: pointer;
}

tr.draggable {
	background: white;
	cursor: move;
}

tr.draggable:hover {
	background: #f6f6f6;
}

table {
	border-collapse: collapse;
	width: 100%;
	clear: both;
}

.table_drag_drop {
	border-radius: 4px 4px 0 0;
	background-color: #fff;
}

.dragged {
	width: 92%;
	cursor: move;
}

.dragged tr:first-child {
	background: rgba(175, 175, 175, 0.3);
}

.over {
	background-color: lightgray !important;
}

.content tr th:last-of-type {
	min-width: 120px;
}

.form-split {
	display: inline-block;
	margin-left: 9px;
}

.form-split input {
	width: 60px;
}

.sortedup, .sortedup:hover {
	background-image :  url(../images/up.png)!important;
	background-position: right center;
	background-position-x: 90%;
	background-repeat: no-repeat;
	background-color: #f6f5f3;
	text-shadow: 0 1px 0 #f6f5f3;
	text-decoration: none;
}

.sorteddown, .sorteddown:hover {
	background-image :  url(../images/down.png)!important;
	background-position: right center;
	background-position-x: 90%;
	background-repeat: no-repeat;
	background-color: #f6f5f3;
	text-shadow: 0 1px 0 #f6f5f3;
	text-decoration: none;
}

#grid_header_dragged {
	visibility: collapse;
}

body {
	color: #000;
	font-size: 14px;
	font-family: 'Bitter', Helvetica, Arial, sans-serif;
	text-align: left;
	background-color: #efefef;
	background: #efefef;
}

.content {
	background-color: #fff;
	margin: 50px;
	box-shadow: 3px 3px 5px #888888;
}

.split{
	cursor: pointer;
	vertical-align: middle;
	display: inline-block;
	width: auto;
	height: 25px;
	background-image :  url(../images/arrow_split.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.split input[type="submit"] {
	cursor: pointer;
	border: 0;
	background: transparent;
}

.table_drag_drop input[type="text"] {
	vertical-align: middle;
	margin-left: 5px;
	width: 50px;
}

.timeline a,
.timeline a {
    padding:5px 10px;
    color:#000;
    font-size:0.9em;
	
}

.timeline, .timeline ul, .timeline li, .timeline form, .timeline strong {
    float: none;
    display: inline;
}

.timeline_month_encours {
	font-weight: bold;
}

.modify, .delete, .duplicate {
	display: inline-block;
}

.itemsform li {
	clear: left;
	margin: 0;
	padding: 8px 0 4px 0;
	cursor: pointer;
	position: relative;
	list-style: none;
}

.itemsform label {
	padding: 8px 20px 8px 0;
	line-height: 1.2em;
	width: 125px;
	padding: 8px 20px 8px 0;
	line-height: 1em;
	display: block;
	text-align: right;
	float: left;
}

.modify input[type='submit'] {
	margin-left: 5px;
	border: 0;
	background: transparent;
	width: 16px;
	height: 16px;
	background-image :  url(../images/bullet-wrench.png);
	cursor: pointer;
}

.delete input[type='submit'] {
	margin-left: 5px;
	border: 0;
	background: transparent;
	width: 16px;
	height: 16px;
	background-image :  url(../images/delete.png);
	cursor: pointer;
}

.duplicate input[type='submit'] {
	margin-left: 5px;
	border: 0;
	background: transparent;
	width: 16px;
	height: 16px;
	background-image :  url(../images/more.png);
	background-repeat: no-repeat;
	cursor: pointer;
}